* {
    text-align: center;
}
#jspsych-video-keyboard-response-stimulus {
    display: block;
    margin: 0 auto;
}

#jspsych-content {
    display: block;
    margin: 0 auto;
}

#jspsych-html-keyboard-response-stimulus {
    text-align: left;
}
