* {
    text-align: center;
}
#jspsych-video-keyboard-response-stimulus {
    display: block;
    margin: 0 auto;
}

#jspsych-content {
    display: block;
    margin: 0 auto;
}

#jspsych-html-keyboard-response-stimulus {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    font-size: 24px;
    text-align: left;
}

#jspsych-html-button-response-stimulus {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    /* font-size: 24px; */
    text-align: left;
}
